nav{
  align-items: center;
}

.link{
  text-align: center;
}

.searchLink{
  text-decoration: none;
  color: darkblue;
  margin: 50px;
  font-size: 25px;
}

.galleryLink{
  text-decoration: none;
  color:darkblue;
  margin: 50px;
  font-size: 25px;
}

.favoriteLink{
  text-decoration: none;
  color:darkblue;
  margin: 50px;
  font-size: 25px;
}

.logout {
  float: right;
  text-decoration: none;
  color:darkblue;
  font-size: 20px;
}


